<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${tittle}">Document</title>
</head>
<body>
    <h1 th:text="${userOwner.name_user}"></h1>
    <!-- Para acceder al valor, se debe usar el atributo como se le esta nombrando en el controlador y colocar el nombre del atributo de la clase tal cual(por debajo hace un get aunque no lo escribas)   -->
    <h1 th:text="${userOwner.age_user}"></h1>
    <h1 th:text="${userOwner.email_user}"></h1>
    <!--<h1 th:text="${nameOwner}"></h1> -->
    <ul>
        <li th:if="${userOwner.password_user}" th:text="${userOwner.password_user}"></li>
        <li th:if="${userOwner.password_user == null}" th:text="${'No tiene password'}"></li>
        <!-- Es una forma de renderizar en el codigo HTML cuando falta informacion del controlador -->
    </ul>
        <br><a th:href="@{/userList}" >Ver listado de usuarios</a>
        <!--La siguiente linea es utilizando una variable, ya que lo que esta con comillas simples es tratado como un String-->
        <br><a th:href="@{'/api/requestParam/messageURL?mensaje='+${tittle}}" >Ver mensaje1</a>
        <!--La siguiente linea es si no existiera una variable donde todo es tratado como una cadena-->
        <br><a th:href="@{'/api/requestParam/messageURL?mensaje=Oh no Spring!!!'}">Ver mensaje2 con RequestParam</a>
        <!--La siguiente forma es propia de thymeleaf que hace lo mismo que la anterior linea, pero con el nombre del mensaje como variable-->
        <br><a th:href="@{/api/requestParam/messageURL(mensaje='Oh no Spring!!!')}" >Ver mensaje3 con RequestParam</a>
        <!--Este es otro ejemplo combinando con variables y valores ya establecidos-->
        <br><a th:href="@{/api/requestParam/messageMix(mensaje=${tittle},code=12345)}" >Ver mensaje4 con RequestParam</a>
        <!--La siguiente linea es un ejemplo con Path Variable -->
        <br><a th:href="@{'/api/pathVariable/message/12345/'+${tittle}}" >Ver mensaje5 con PathVariable</a>

    </body>
</html>